* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
body {
    margin: 40px 60px;
    font-family: 'Poppins';
}
.display-flex {
    display: flex;
}

.tomato {
    color: tomato;
}
.half-width {
    width: 40%;
}
.center {
    text-align: center;
}

/* css used in first part */
.first-part {
    height: 100vh;
}
.heading-text {
    position: relative;
    margin-top: 150px;
    margin-left: 150px;
    font-family: 'Yeseva One' !important;
    font-size: 42px;
    padding: 20px;
   
  
}
.heading-text::before {
    content: '';
    height: 65%;
    border-left: 5px solid;
    border-image: linear-gradient(orange,rgba(255, 166, 0, 0.541));
    border-image-slice: 1;
    position: absolute;
    right: 560px;
    top: 31px;
}
.para-part {
    font-size: 1.3rem;
    margin-left: 150px;
    padding: 20px 0px;
}
.para-part a {
    display: inline-block;
    margin-top: 10px;
}
.para-part small {
    display: inline-block;
    margin-top: 15px;
}
.link-button{
    background-color: #fbcf7b;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
}
.link-button:hover{
    background-color: #fbce7bb4;

}
.image-part img {
    margin-top: 90px;
    height: 500px;
    margin-left: 450px;
}

/* css used in first part ends here */


/* css used in second part starts here */
.second-part {
    height: 100vh;
}
.second-part-heading {

    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
#card1{
    background-color: rgba(79, 157, 166, 0.1);
}
#card2{
    background-color: rgba(255, 89, 89, 0.1);

}
#card3{
    background-color: rgba(255, 244, 214, 1);

}
.card {
    margin-top: 50px;
    margin-left: 100px;
    text-align: justify;
    border-radius: 15px;
    width: 20%;
    padding: 60px 50px;
}
.card img {
    width: 350px;
    height: auto;
}
.card h3 {
    font-size: 26px;
    font-weight: 700;
   
}

/* css used in second part ends here */


/* css used in third part starts here */
.third-part {
    height: 100vh;
    margin: 100px 150px;
}
.third-part-img img{
    width: 80%;
}

.third-part-texts h1{
    font-size: 45px;
}

.third-part-texts p{
    font-size: 25px;
}
.third-part-texts a {
    display: inline-block;
    margin-top: 10px;
}

/* css used in third part ends here */